.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #d8c3a5;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 999;
}

.scroll-to-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: #c7af93;
  transform: scale(1.1);
}
.arrow{
    transform: rotate(180deg);
}